<nav class="nav-extended">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo center">Registro Nacional de las Personas</a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!autenticacionService.estaAutenticado()">
          <a routerLink="/autenticar"
          class="tooltipped" data-position="left" data-tooltip="Iniciar sesión">
            <i class="material-icons">label_outline</i>
          </a>
        </li>
        <li *ngIf="autenticacionService.estaAutenticado()">
          <a (click)="autenticacionService.salir()" 
          class="tooltipped" data-position="left" data-tooltip="Cerrar sesión">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>      
      </ul>
    </div>
  <div *ngIf="autenticacionService.estaAutenticado()" class="nav-content row">
      <ul class="tabs tabs-transparent">
        <li class="tab col s4">
          <a routerLink="/nacimientos" class="active">
            Nacimientos
          </a>
        </li>
        <li class="tab col s2">
            <a routerLink="/defunciones">
              Defuciones
            </a>
          </li>
        <li class="tab col s2">
          <a routerLink="/matrimonios">
            Matrimonios
          </a>
        </li>
        <li class="tab col s2">
          <a routerLink="/divorcios">
            Divorcios
          </a>
        </li>        
        <li class="tab col s2">
          <a routerLink="/actuaizar">
            Actualización
          </a>
        </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
